<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
      /* スライドメニューのスタイル */
      .slide-menu {
        width: 200px;
        height: 100vh;
        background-color: #f1f1f1;
        position: fixed;
        top: 0;
        right: -200px;
        transition: left 0.3s ease-in;
        padding-top: 20px;
      }

      /* ボタンのスタイル */
      .slide-btn {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;
      }
    </style>
    <script src="/send_url.js"></script>
    <script>
      // ボタンをクリックしたときにスライドメニューを開く
      function openSlideMenu() {
        document.getElementById('slide-menu').style.right = '0';
      }

      // スライドメニューを閉じる
      function closeSlideMenu() {
        document.getElementById('slide-menu').style.right = '-200px';
      }

      // ユーザーネームを表示する
      function showUsername(username, menuId) {
        var menuItemElement = document.getElementById('menu-item-' + menuId);
        var existingUsernameElement = menuItemElement.querySelector('.username'); // 既存のUsername要素を取得

        // 既存のUsername要素が存在する場合は削除
        if (existingUsernameElement) {
          existingUsernameElement.remove();
        } else {
          var usernameElement = document.createElement('li'); // 新しいli要素を作成
          usernameElement.classList.add('username'); // li要素にusernameクラスを追加
          usernameElement.innerHTML = username + '<br>'; // ユーザーネームと<br>要素を設定
          menuItemElement.appendChild(usernameElement); // 対応するmenu-itemにli要素を追加
          openSlideMenu();
        }
      }


    </script>
  </head>
  <body>
    <h1>Welcome, <%= username %>!</h1>

    <div class="slide-menu" id="slide-menu">
      <!-- スライドメニューの内容 -->
      <ul>
        <li id="menu-item-a">306</li>
        <br>
        <li id="menu-item-b">304</li>
        <br>
        <li id="menu-item-c">Menu Item C</li>
        <br>
        <li id="menu-item-d">Menu Item D</li>
        <br>
        <li id="menu-item-e">Menu Item E</li>
        <br>
      </ul>
      <button onclick="closeSlideMenu()">Close</button>
    </div>

    <button class="slide-btn" onclick="openSlideMenu()">Open Menu</button>

    <% var buttonNames = ['A', 'B', 'C', 'D', 'E']; %>
    <% for (let i = 0; i < buttonNames.length; i++) { %>
      <button onclick="showUsername('<%= username %>', '<%= buttonNames[i].toLowerCase() %>')"><%= buttonNames[i] %></button>
    <% } %>

    <script>

    </script>
  </body>
</html>


