<!DOCTYPE html>
<html lang="JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/To-Label.png" />
    <title>To-Label</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg fixed-top"
      style="font-size: 30px; font-weight: bold; width: 100%"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px">To-Label</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="text-align: right"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/setting">Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main style="position: absolute; top: 80px; right: 30px; left: 30px">
      <h2 class="mt-5" style="text-align: center">
        ようこそ! <%= username %>さん
      </h2>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div
              class="card bg-warning-subtle border border-warning rounded-3 mt-3 h-100"
            >
              <div
                class="card-header bg-warning border border-warning text-dark"
              >
                <h4>過去のレッテル</h4>
              </div>
              <div class="card-body text-warning-emphasis">
                <% if(exists){%>
                <h5><%= your_msg[0]["msg"] %></h5>
                <% if(your_msg.length>=2){%>
                <p class="mt-3">他にも...</p>
                <ul>
                <% for(let i=1; i<your_msg.length; i++){%>
                  <li><%= your_msg[i]["msg"] %></li>
                <%}%></ul>
                <a href="/history"
                  ><button
                    id="motto"
                    class="btn btn-warning text-dark"
                    style="position: absolute;
                    right: 1rem;
                    font-weight: bold;"
                  >
                    さらに見る
                  </button></a
                >
                <%}}else{%>
                <p>あなたにはレッテルがありません。</p>
                <h5>ゲームを始めてみましょう!</h5>
                <%}%>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6" id="flex-right">
            <div
              class="card bg-success-subtle border border-success rounded-3 mt-3 h-49"
            >
              <div
                class="card-header bg-success border border-success text-white"
              >
                <h4>ルームに参加する</h4>
              </div>
              <div class="card-body text-success-emphasis">
                <form method="post" action="/room">
                  <div class="row">
                    <div class="col-7">
                      <input
                        type="number"
                        name="room"
                        class="form-control"
                        id="room"
                        placeholder="4桁の数字"
                      />
                    </div>
                    <div class="col-5">
                      <input
                        type="submit"
                        class="btn btn-success"
                        style="
                          position: absolute;
                          right: 1rem;
                          font-weight: bold;
                        "
                        value="入室"
                      />
                    </div>
                    <p id="append-msg2" class="text-danger p-1"><%= msg %></p>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="card bg-danger-subtle border border-danger rounded-3 mt-3 h-50"
            >
              <div
                class="card-header bg-danger text-white border border-danger"
              >
                <h4>ルームを新規作成する</h4>
              </div>
              <div class="card-body text-danger-emphasis">
                <p>ボタンを押すとグループ番号が生成されます。</p>
                <div class="row g-3">
                  <div class="col-7">
                    <input
                      type="text"
                      class="form-control"
                      id="new-number"
                      placeholder="IDを生成します"
                      disabled
                    />
                  </div>
                  <div class="col-5">
                    <button
                      class="btn btn-danger"
                      style="position: absolute; right: 1rem; font-weight: bold"
                      id="random_number"
                    >
                      自動生成
                    </button>
                  </div>
                </div>
                <div>
                  <p id="append-msg"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    $("#random_number").click(function () {
      $.post("/random", "random=true").done(function (data) {
        console.log(data);
        if (data) {
          $("#new-number").val(data);
          $("#append-msg").text(
            "生成完了! 同じグループメンバーにシェアしてね!"
          );
          $("#append-msg").attr("class", "text-success p-1");
          $("#append-msg2").text(
            "入室ボタンを押せば、番号入力いらずで入室できます!"
          );
          $("#append-msg2").attr("class", "text-success p-1");
          $("#room").val(data);
        } else {
          $("#append-msg").text("生成失敗、もう一度お試し下さい。");
          $("#append-msg").attr("class", "text-danger p-1");
        }
      });
    });
    $(window).on("load", function () {
      if ($(window).width() < 768) {
        $("#flex-right").addClass("mt-3");
        $("#motto").attr("style", "position: absolute; right: 1rem; bottom:1em; font-weight: bold;");
      } else {
        $("#flex-right").removeClass("mt-3");
        $("#motto").attr("style", "position: absolute; right: 1rem; font-weight: bold;");
      }
    });
    $(window).on("resize", function () {
      if ($(window).width() < 768) {
        $("#flex-right").addClass("mt-3");
        $("#motto").attr("style", "position: absolute; right: 1rem; bottom:1em; font-weight: bold;");
      } else {
        $("#flex-right").removeClass("mt-3");
        $("#motto").attr("style", "position: absolute; right: 1rem; font-weight: bold;");
      }
    });
  </script>
</html>
