<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body style="background-color: rgb(249, 245, 253);">
    <header class="pt-3" style="padding-left: 1.1rem;">
      <a href="/"><h2 class="title">No title</h2></a>
      <nav class="nav">
      <ul>
      <a href="/home"><li>Home</li></a>
      <a href="/profile"><li>profile</li></a>
      <li>Music</li>
      <li></li>
      </ul>
      </nav>
      </header>
    <main class="m-4">

    <h1 class="text-center font-weight-bold">こんにちは, <%= username %>!</h1>

    <div class="card mt-4">
      <div class="card-header bg-success"><h2 class="font-weight-bold text-white">さあ、グループに参加しましょう!!!</h2></div>
      <div class="card-body" style="position: relative; height: 10rem;">
        <h4>ルーム番号を入力して下さい。</h4>
        <form method="post" action="/room">
          <label for="room" hidden>room</label>
          <input type="number" name="room" class="form-control" id="room" placeholder="4桁の数字">
          <input type="submit" class="btn btn-primary mt-3" style="position: absolute; right: 1rem;" value="入室">
        </form>
        <h5 id="append-msg2" class="text-danger p-1"><%= msg %></h5>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header bg-warning"><h2 class="font-weight-bold text-black">まだ、グループ作成が済んでいない場合はこちら</h2></div>
      <div class="card-body">
        <h4>ボタンを押すとグループ番号が生成されます。</h4>
        <div class="row g-3">
          <div class="col-auto">
          <input type="text" class="form-control" id="new-number" value="xxxx" disabled>
          </div>
          <div class="col-auto">
          <button class="btn btn-primary" id="random_number">自動生成</button>
          </div>
          <div class="col-auto">
            <h5 id="append-msg"></h5>
            </div>
          </div>
      </div>
    </div>
</main>
<script>
$('#random_number').click(function(){
  $.post('/random','random=true')
  .done(function(data){
    console.log(data);
    if(data){
      $('#new-number').val(data);
      $('#append-msg').text('生成完了! 同じグループメンバーにシェアしてね!');
      $('#append-msg').attr('class','text-success p-1');
      $('#append-msg2').text('入室ボタンを押せば、番号入力いらずで入室できます!');
      $('#append-msg2').attr('class','text-success p-1');
      $('#room').val(data);
    }else{
      $('#append-msg').text('生成失敗、もう一度お試し下さい。');
      $('#append-msg').attr('class','text-danger p-1');
    }
  })
});
</script>
  </body>

</html>