<!DOCTYPE html>
<html lang="JP">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/uploads/To-Label.png" />
    <title>To-Label</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar bg-dark border-bottom border-bottom-dark navbar-expand-lg fixed-top"
      style="font-size: 30px; font-weight: bold; width: 100%"
      data-bs-theme="dark"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/" style="font-size: 30px">To-Label</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="text-align: right"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link disabled">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Setting</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main style="position: absolute; top: 80px; right: 30px; left: 30px">
      <img src="/uploads/To-Label.png" width="100%" />
      <ul class="nav nav-pills nav-fill mt-3 mb-3">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="javascript:selected(0)"
            id="login_selected"
            >ログイン</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:selected(1)" id="signup_selected"
            >新規登録</a
          >
        </li>
      </ul>
      <div class="alert alert-danger mt-3" role="alert" id="notification2">
        ユーザー名またはパスワードが違います。
      </div>
      <div class="alert alert-success mt-3" role="alert" id="notification1">
        適法にユーザー名とパスワードが設定されました。
      </div>
      <div class="alert alert-info mt-3" role="alert" id="notification0">
        IDとパスワードを入力:
      </div>
      <div class="alert alert-primary mt-3" role="alert" id="notification4">
        新しく作成する、IDとパスワードを入力:
      </div>
      <div class="alert alert-warning mt-3" role="alert" id="notification3">
        このパスワードは登録されています。別のパスワードにして下さい。
      </div>
      <div class="alert alert-warning mt-3" role="alert" id="notification5">
        新規登録のデータ送信に失敗しました。もう一度試して下さい。
      </div>
      <div class="card mb-4" id="login">
        <div class="card-header h3">Login Form:</div>
        <div class="card-body">
          <form method="post" action="/login">
            <div>
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                id="username"
                class="form-control"
                name="username"
                aria-labelledby="username-comment"
                required
              />
              <div id="username-comment" class="form-text">
                ユーザーネームを入力して下さい!
              </div>
            </div>
            <div class="mt-4">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                aria-labelledby="password-comment"
                required
              />
              <div id="password-comment" class="form-text">
                パスワードを入力して下さい!
              </div>
            </div>
            <input
              type="hidden"
              name="_csrf"
              value="<%= csrfToken %>"
              class="csrf"
            />
            <button type="submit" class="btn btn-primary mt-4 w-100">
              ログイン
            </button>
          </form>
        </div>
      </div>
      <div class="card mb-4" id="signup">
        <div class="card-header h3">Signup Form:</div>
        <div class="card-body">
          <form method="post" action="javascript:signup()">
            <div>
              <label for="username-signup" class="form-label">Username</label>
              <input
                type="text"
                id="username-signup"
                class="form-control"
                aria-labelledby="username-comment2"
                required
              />
              <div id="username-comment2" class="form-text">
                ユーザーネームを入力して下さい!
              </div>
            </div>
            <div class="mt-4">
              <label for="password-singup" class="form-label">Password</label>
              <input
                type="password"
                id="password-signup"
                class="form-control"
                aria-labelledby="password-comment2"
                required
              />
              <div id="password-comment2" class="form-text">
                パスワードを入力して下さい!
              </div>
            </div>
            <input
              type="hidden"
              name="_csrf"
              value="<%= csrfToken %>"
              class="csrf"
              id="csrf-signup"
            />
            <button type="submit" class="btn btn-primary mt-4 w-100">
              新規登録
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script>
    function selected(x) {
      if (x == 1) {
        $("#login_selected").removeClass("active");
        $("#signup_selected").addClass("active");
        $("#login").hide();
        $("#signup").show();
        $("#notification0").hide();
        $("#notification2").hide();
        $("#notification1").hide();
        $("#notification3").hide();
        $("#notification5").hide();
        $("#notification4").show();
      } else {
        $("#login_selected").addClass("active");
        $("#signup_selected").removeClass("active");
        $("#signup").hide();
        $("#login").show();
        $("#notification5").hide();
        $("#notification4").hide();
        $("#notification3").hide();
        $("#notification2").hide();
        $("#notification1").hide();
        $("#notification0").show();
      }
    }

    function signup() {
      let username = $("#username-signup").val();
      let password = $("#password-signup").val();
      let csrf = $("#csrf-signup").val();
      let formData = new FormData();
      formData.append("username", username);
      formData.append("password", password);
      formData.append("_csrf", csrf);
      $.ajax({
        type: "POST",
        url: "/signup",
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          $(".csrf").val(data[0]);
          if (data[1] == true) {
            $("#signup").hide();
            $("#notification0").hide();
            $("#notification2").hide();
            $("#notification1").show();
            $("#notification4").hide();
            $("#notification3").hide();
            $("#notification5").hide();
            $("#login_selected").addClass("active");
            $("#signup_selected").removeClass("active");
            $("#login").show();
          } else {
            $("#notification0").hide();
            $("#notification2").hide();
            $("#notification1").hide();
            $("#notification4").hide();
            $("#notification3").show();
            $("#notification5").hide();
          }
        },
        error: function (request, status, err) {
          $("#notification5").show();
          $("#notification4").hide();
          $("#notification3").hide();
          $("#notification2").hide();
          $("#notification1").hide();
          $("#notification0").hide();
        },
      });
    }
    const error = <%= error %>;
    $(window).on("load", function () {
      $("#signup").hide();
      $("#notification0").hide();
      $("#notification2").hide();
      $("#notification1").hide();
      $("#notification4").hide();
      $("#notification3").hide();
      $("#notification5").hide();
      if (error == 2) {
        $("#notification2").show();
      } else {
        $("#notification0").show();
      }
    });
  </script>
</html>
